.App {
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    margin: 10px;
    list-style-type: none;
    cursor: pointer;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
    }
}